* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f9f9f9;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 25px;

    position: fixed;
    top: 0;
    width: 100%;

    background-color: white;
    border-bottom: 1px solid #ddd;

    z-index: 1000;
}
.logo h2 {
    color: red;
}

.search-bar {
    display: flex;
    width: 40%;
}

.search-bar input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
}

.search-bar button {
    padding: 10px 20px;
    cursor: pointer;
}

.profile img {
    border-radius: 50%;
}

/* Sidebar */

.sidebar {
    width: 220px;
    height: 100vh;

    position: fixed;
    top: 70px;
    left: 0;

    background-color: white;

    padding: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 10px;
}

.sidebar li:hover {
    background-color: #e5e5e5;
}

/* Main Content */

.main-content {
    margin-left: 240px;
    margin-top: 90px;
    padding: 20px;
}

.video-grid {
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));

    gap: 20px;
}

.video-card {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;

    transition: transform 0.3s;
}

.video-card:hover {
    transform: scale(1.03);
}

.video-card img {
    width: 100%;
    display: block;
}

.video-card h4 {
    padding: 10px;
}

.video-card p {
    padding: 0 10px;
    color: #606060;
}

.video-card span {
    display: block;
    padding: 10px;
    color: #606060;
    font-size: 14px;
}